<div id="main">
  <div class="inner">
    <header>
      <h1>Hai, I am nagaraj from chennai. Having good experience in Audits & Mechanics. <br/></h1>
      <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
    </header>
    <section class="tiles">
      <% @posts.each do |post| %>
        <article class="style1">
          <span class="image">
            <img src="images/pic01.jpg" alt="" />
          </span>
          <a href="<%= post_path(post) %>">
            <h2><%= post.title %></h2>
            <div class="content">
            </div>
          </a>
        </article>
      <%end %>
    </section>
    <% if current_user.present? %>
      <p> <%= link_to 'New Post', new_post_path %> </p>
    <% end %>
  </div>
</div>
